{{#if advert-manager}}
    {{!-- Include this only once, loads js and grabs all the slots off the page --}}
    <div data-component-name="advert-test" data-vendor-name="advert-manager"></div>
{{/if}}

{{#if advert-slot}}
    {{!-- Include this for each slot on the page --}}
    <div class="advert-slot" data-slot-tag="{{slot-tag}}" data-slot-type="{{slot-type}}" id="advert-1" data-id="advert-1">
        HERE BE AN ADVERT 1
    </div>

    <div class="advert-slot" data-slot-tag="{{slot-tag}}" data-slot-type="{{slot-type}}" id="advert-2" data-id="advert-2">
        HERE BE AN ADVERT 2
    </div>
{{/if}}
