{{#if advert-manager}}
    {{!-- Include this only once, loads js and grabs all the slots off the page --}}
    <div data-component-name="advert-test" data-vendor-name="advert-manager"></div>
{{/if}}

{{#if advert-slot}}
    {{!-- Include this for each slot on the page --}}
    <div class="advert-slot" data-slot-type="{{slot-type}}" data-config="{{slot-config}}">
        HERE BE AN ADVERT
    </div>
{{/if}}
