.ui-advert { 
  --width: 300px;
  --height: 250px;
  --bg: none;
  --padding: 0;
  border: 2px solid hotpink;
  display: grid;
  box-sizing: content-box;
  place-items: center;
  align-content: space-between;
  position: relative;
  background: var(--bg);
  padding: var(--padding);
  min-height: var(--height);
}

.ui-advert[data-format="leaderboard"] {
  --width: 728px;
  --height: 90px;
}

.ui-advert[data-label="true"]:before {
  content: "Advert";
  font-size: 14px;
  padding: 1em 0;
}

.ui-advert[data-type~="shaded"] {
  --bg: #eee;
  --padding: 1em 0;
}
